/* Footer Section */
.overview-footer {
  background: var(--white-color);
  padding: 30px 0;
  margin-top: 150px;
}

.footer-container {
  display: flex;
  justify-content: center;
}

.footer-content {
  max-width: 1800px;
  width: 100%;
  margin: 0 50px;
  display: flex;
  justify-content: space-between;
  gap: 70px;
  align-items: start;
  align-items: center;
}

.footer-left {
  display: flex;
  gap: 70px;
  align-items: center;
}

.footer-logo {
  width: 110px;
}

.footer-logo img {
  width: 100%;
  object-fit: contain;
}

.footer-info {
  color: var(--text-black);
  line-height: 1.7;
  font-size: 1.6rem;
  font-family: var(--font-pret);
  font-weight: 400;
  letter-spacing: var(--spacing-91);
}

.footer-info-strong {
  font-weight: 600;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  font-family: var(--font-pret);
  letter-spacing: var(--spacing-91);
}

.footer-policies {
  display: flex;
  gap: 8px;
  font-size: 1.6rem;
  color: var(--text-black);
}

.footer-policies a {
  color: var(--text-black);
  text-decoration: none;
}

.separator {
  color: var(--text-black);
  display: inline;
}

.footer-copyright {
  font-size: 1.6rem;
  color: var(--text-black);
  text-align: right;
}

/* 반응형 디자인 */
@media (max-width: 1200px) {
  .overview-footer {
    background: var(--muted-color);
    padding: 30px;
  }

  .footer-content {
    flex-direction: column;
    gap: 30px;
    text-align: left;
    margin: 0;
    align-items: flex-start;
  }

  .footer-left {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    width: 100%;
    order: 2;
  }

  .footer-logo,
  .footer-copyright {
    display: none;
  }

  .footer-info {
    font-size: 1.6rem;
    line-height: 1.8;
  }

  .footer-right {
    width: 100%;
    order: 1;
  }

  .footer-links {
    align-items: flex-start;
    gap: 15px;
  }

  .footer-policies {
    flex-direction: column;
    gap: 8px;
    font-size: 1.6rem;
  }

  .footer-policies a {
    color: var(--text-black);
    text-decoration: none;
  }

  .footer-policies a::before {
    content: "– ";
    margin-right: 5px;
  }

  .separator {
    display: none;
  }
}

@media (max-width: 768px) {
  .overview-footer {
    margin-top: 100px;
  }

  .overview-footer {
    padding: 25px;
  }

  .footer-info {
    font-size: 1.4rem;
  }

  .footer-policies {
    gap: 8px;
    font-size: 1.4rem;
  }
}
