/* CSS Variables (Custom Properties) */
:root {
  /* Main Colors */
  --primary-color: #292959;
  --muted-color: #f2f2f4;
  --line-color: #e3e3e9;
  --white-color: white;
  --black-color: #000000;

  /* Text Colors */
  --text-black: #000000;
  --text-primary: #292959;
  --text-muted: rgb(169, 169, 169);
  --text-white: #ffffff;

  /* Opacity Colors */
  --overlay: rgba(0, 0, 0, 0.2);

  /* Typography */
  --font-neue: "neue-haas-grotesk-display", sans-serif;
  --font-pret: "Pretendard", sans-serif;

  /* Spacing */
  --spacing-92: -0.02rem;
  --spacing-91: -0.01rem;
  --spacing-00: 0rem;
  --spacing-01: 0.01rem;
  --spacing-02: 0.02rem;

  /* Z-index */
  --z-dropdown: 1000;
  --z-sticky: 1020;
  --z-fixed: 1030;
  --z-modal-backdrop: 1040;
  --z-modal: 1050;
  --z-popover: 1060;
  --z-tooltip: 1070;
}

::-webkit-scrollbar {
  display: none;
}

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* 스크롤바 숨기기 */
::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 10px;
}

body {
  font-family: var(--font-neue), var(--font-pret);
  color: var(--text-black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 10px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}
